language: node_js

node_js:
  - "10"

sudo: false

cache:
  directories:
    - $HOME/.cache/yarn
    - node_modules

branches:
  only:
    - master

notifications:
  email:
    on_success: change
    on_failure: always

install:
  - yarn

before_script:
  - yarn run build

script:
  - yarn run test
